{% extends 'base.html.twig' %}

{% block title %}Nos Services{% endblock %}

{% block body %}
<section>
  <div class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 lg:px-8">
    <div class="space-y-4 md:space-y-8">
      <div class="max-w-xl">
        <h2 class="text-2xl font-semibold text-gray-900 sm:text-3xl">
          Nos services
        </h2>

        <p class="mt-4 text-gray-700">
            Nous offrons divers services pour répondre à vos besoins
        </p>
      </div>
      <div class="flex flex-wrap">
      {% for service in services %}
        <a href="#" class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow-sm md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
            <i class="las la-broom text-9xl text-green-700"></i>
            <div class="flex flex-col justify-between p-4 leading-normal">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Gestion des déchets</h5>
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Collecte, tri, recyclage et traitement des déchets ménagers, industriels et agricoles pour réduire la pollution.</p>
            </div>
        </a>
      {% endfor %}
      </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}