{% extends 'base.html.twig' %}

{% block title %}A propos de nous!{% endblock %}

{% block body %}
<section class="py-24 relative">
        <div class="w-full max-w-7xl px-4 md:px-5 lg:px-5 mx-auto">
            <div class="w-full justify-start items-center gap-8 grid lg:grid-cols-1 grid-cols-1">
                <div class="w-full flex-col justify-start lg:items-start items-center gap-10 inline-flex">
                    <div class="w-full flex-col justify-start lg:items-start items-center gap-4 flex">
                        <h2 class="text-gray-900 text-4xl font-bold font-manrope leading-normal lg:text-start text-center">A propos de nous</h2>
                        <h2 class="text-gray-900 text-2xl font-bold font-manrope leading-normal lg:text-start text-center">ENGINEERING FOR REVOLUTIONARY INFRASTRUCTURES SOLUTIONS</h2>
                        <p class="text-gray-500 text-base font-normal leading-relaxed lg:text-start text-center">
                            Eris sarl est une Société à Responsabilité Limitée, créée en 2021, régie par l'Acte Uniforme relatif au droit 
                            des sociétés Commerciales et du Groupement d'Intérêt Economique. Elle est établie à est établi au N° 142 de l'avenue FAGOP, 
                            Quartier KYESHERO Commune et ville de GOMA, Province du Nord Kivu en République Démocratique du Congo.  
                            Elle spécialisée dans les secteurs du Génie Civil, l'Agro-Alimentaire et l'Environnement.
                        </p>
                    </div>
                    <div class="flex gap-2 flex-wrap">
                        <article class="rounded-lg w-96 border border-gray-100 bg-white p-6">
                            <div>
                                <p class="text-sm text-gray-500">Raison Sociale</p>
                                <p class="text-2xl font-medium text-gray-900">Eris Sarl Engineering For Revolutionary Infrastructures Solutions</p>
                            </div>
                            <div class="mt-1 flex gap-1 text-green-600">
                            <i class="las la-city size-4"></i>
                                <svg
                                xmlns="http://www.w3.org/2000/svg"
                                class="size-4"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke="currentColor"
                                >
                                <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="2"
                                    d="M13 7h8m0 0v8m0-8l-8 8-4-4-6 6"
                                />
                                </svg>
                            </div>
                        </article>
                        <article class="rounded-lg w-96 border border-gray-100 bg-white p-6">
                            <div>
                                <p class="text-sm text-gray-500">Forme Juridique</p>
                                <p class="text-2xl font-medium text-gray-900">Société à Responsabilité Limitée, régie par l’acte OHADA Créé en 2021</p>
                            </div>
                            <div class="mt-1 flex gap-1 text-green-600">
                                <svg
                                xmlns="http://www.w3.org/2000/svg"
                                class="size-4"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke="currentColor"
                                >
                                <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="2"
                                    d="M13 7h8m0 0v8m0-8l-8 8-4-4-6 6"
                                />
                                </svg>
                            </div>
                        </article>
                        <article class="rounded-lg w-96 border border-gray-100 bg-white p-6">
                            <div>
                                <p class="text-sm text-gray-500">Activités</p>
                                <p class="text-2xl font-medium text-gray-900">Entreprise générale des constructions (Génie Civil), Agro-Alimentaire, Environnement et Acquisitions des brevets et concessions.</p>
                            </div>
                            <div class="mt-1 flex gap-1 text-green-600">
                                <svg
                                xmlns="http://www.w3.org/2000/svg"
                                class="size-4"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke="currentColor"
                                >
                                <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="2"
                                    d="M13 7h8m0 0v8m0-8l-8 8-4-4-6 6"
                                />
                                </svg>
                            </div>
                        </article>
                        <article class="rounded-lg w-96 border border-gray-100 bg-white p-6">
                            <div>
                                <p class="text-sm text-gray-500">Siège Social</p>
                                <p class="text-2xl font-medium text-gray-900">N° 142 de l'avenue FAGOP, Quartier KYESHERO Commune et ville de GOMA, Nord Kivu, RDC.</p>
                            </div>
                            <div class="mt-1 flex gap-1 text-green-600">
                                <svg
                                xmlns="http://www.w3.org/2000/svg"
                                class="size-4"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke="currentColor"
                                >
                                <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="2"
                                    d="M13 7h8m0 0v8m0-8l-8 8-4-4-6 6"
                                />
                                </svg>
                            </div>
                        </article>
                        <article class="rounded-lg w-96 border border-gray-100 bg-white p-6">
                            <div>
                                <p class="text-sm text-gray-500">Registre de commerce, Autorisation et affiliation</p>
                                <p class="text-2xl font-medium text-gray-900">RCCM: CD/GOM/RCCM/21-B-00245</br> ID. NAT.: 19-F4200-N95803Y </br>N° Impôt: A2177039 CNSS : 1015783200.</p>
                            </div>
                            <div class="mt-1 flex gap-1 text-green-600">
                                <svg
                                xmlns="http://www.w3.org/2000/svg"
                                class="size-4"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke="currentColor"
                                >
                                <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="2"
                                    d="M13 7h8m0 0v8m0-8l-8 8-4-4-6 6"
                                />
                                </svg>
                            </div>
                        </article>
                        <article class="rounded-lg w-96 border border-gray-100 bg-white p-6">
                            <div>
                                <p class="text-sm text-gray-500">Personnes à contacter</p>
                                <p class="text-2xl font-medium text-gray-900">Alain SANTA NGABO</br>+243 971052967 </br> erisrdc.sarl@gmail.com </br>alainngabo1@gmail.com</p>
                            </div>
                            <div class="mt-1 flex gap-1 text-green-600">
                                <svg
                                xmlns="http://www.w3.org/2000/svg"
                                class="size-4"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke="currentColor"
                                >
                                <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="2"
                                    d="M13 7h8m0 0v8m0-8l-8 8-4-4-6 6"
                                />
                                </svg>
                            </div>
                        </article>
                    </div>
                    <button class="sm:w-fit w-full px-3.5 py-2 bg-green-600 hover:bg-green-800 transition-all duration-700 ease-in-out rounded-lg shadow-[0px_1px_2px_0px_rgba(16,_24,_40,_0.05)] justify-center items-center flex">
                        <span class="px-1.5 text-white text-sm font-medium leading-6">Contact</span>
                    </button>
                </div>
                {# <img class="lg:mx-0 mx-auto h-full rounded-3xl object-cover" src="images/services/services.png" alt="a propos eris" /> #}
            </div>
        </div>
    </section>               
{% endblock %}
