{% extends 'base.html.twig' %}

{% block body %}
<section class="h-max mt-5">
  <div class="container mx-auto">
    <h1 class="mt-4 text-xl font-medium sm:text-2xl bg-gradient-to-r from-green-900 to-green-400 text-transparent bg-clip-text">Page non trouvée</h1>

    <p class="pt-14">
        La page demandée n'a pas pu être localisée. Vérifier s'il y a une erreur d'orthographe dans l'URL
        ou<a href="/">retour à la page d'accueil</a>.
    </p>
  </div>
</section>
{% endblock %}