{% extends 'base.html.twig' %}

{% block body %}
<section class="h-max mt-5">
  <div class="container mx-auto">
    <h1 class="mt-4 text-xl font-medium sm:text-2xl bg-gradient-to-r from-green-900 to-green-400 text-transparent bg-clip-text">Erreur au niveau de server</h1>

    <p class="pt-14">
        Une erreur est survenue lors de la connexion avec le serveur, réessayez plus tard.
    </p>
  </div>
</section>
{% endblock %}