<form method="post" action="{{ path('admin.partner.delete', {'id': partner.id}) }}" onsubmit="return confirm('Voulez vous supprimer ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ partner.id) }}">
    <button class="btn bg-red-500 text-white p-2 rounded-2xl">Supprimer</button>
</form>
